.box{
    width: 1000px;
    height:500px;
    background-color: rgb(128,128,128);
    margin:auto;
    grid-column: 2;
   grid-row:1/5;
}
h1{
    color:lime;
    padding:0.5em;
    background-color: black;
    text-shadow:10px 10px purple;
    border:0.3em solid blue;
    width:max-content;
grid-column:1;
grid-row:1;
}
p{
    grid-column: 1;
    grid-row: 2;
}
#one{
    grid-column:1;
    grid-row:3;
}
#two{
    grid-column:1;
    grid-row:4;
}
#three{
    grid-column:1;
    grid-row:5;
}
body{
    display:grid;
grid-template-columns: 1fr,fr;
grid-auto-rows: minmax(100px,auto);
}

